$highlight: #e4f7f9 !default;

.tooltip {
	display: block;
	min-height: 36px;
	padding: 20px;
	color: #555;
	background: $highlight;
	box-shadow: 3px 3px lightgrey;
	transition: opacity 0.125s ease-in-out;
	line-height: 1.3;
	font-size: 14px;
	z-index: 500;
	border-radius: 4px;
	pointer-events: none;
}
.js .tooltip {
	position: absolute;
	width: 300px;
	right: -305px;
	top: 0;
	opacity: 0;

	&:before {
		content: "";
		position: absolute;
		top: 5px;
		left: -15px;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-right: 20px solid $highlight;
		border-bottom: 10px solid transparent;
	}
}
.tooltip p:last-child {
	margin: 0;
}

.hasfocus .tooltip {
	opacity: 1;
}



//
// PREFFERED APPROACH
// however there's an issue in FF that means you can't select the contents of text
// inputs on the initial mousedown.
//
// .hasfocus:before {
// 	content: " ";
// 	display: block !important;
// 	background: rgba(255, 255, 0, 0.25);
// 	position: absolute;
// 	z-index:0;
// 	top: -10px;
// 	left: -10px;
// 	right: -10px;
// 	bottom: -10px;
// 	border: 1px solid rgba(255, 255, 0, 0.5);
// 	border-radius: 3px;
// }
//
// ALTERNATIVE APPROACH
.field.hasfocus {
	$highlight-padding: 10px;
	$border-width: 1px;

	background: rgba(255, 255, 0, 0.25);
	position: relative;
	top: -($highlight-padding+$border-width);
	margin-left: -($highlight-padding+$border-width);
	margin-right: -($highlight-padding);
	margin-bottom: -10px;
	padding: $highlight-padding $highlight-padding;
	border-radius: 3px;
	border: $border-width solid rgba(255, 255, 0, 0.5);
}



// move tooltips to the top if a narrow display
@media only screen and (max-width: 750px) {
	.js .tooltip {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		left: 0;
		right: 0;
		bottom: -5px;
		top: auto !important;
		width: auto;

		&:before {
			bottom: auto;
			right: auto;
			left: 10px;
			border-right: 20px solid transparent;
			border-bottom: 30px solid $highlight;
			border-left: 20px solid transparent;
			top: -25px;
		}
	}
}

